$primary-color: #1765c9;
$secondary-color: #f42405;
$third-color:#c89817;
$animation-background-color:linear-gradient(rgb(212, 20, 90), rgb(251, 176, 59));
$white-color:#ffffff;
$black-color:#000000;
$yellow-color:#ffc208;
$box-color:#c81f17;
$button-color:#f44025;
$bg-footer-color:#043a83;
$primary-font: 'Mulish', sans-serif;
$animation-font: 'Alfa Slab One', cursive;
//KaushanScript Regular
//Montserrat Bold
//Roboto Regular
// $wrapper:1920px;
$container: 422px;
