footer.footer
	.container
		.footer-logo
			img(src="../images/logo-ngocdung.png").footer-logo-ngocdung
			img(src="../images/logo-bocongthuong.png").footer-logo-bocongthuong
		.footer-main
			.footer-main-time
				.footer-main-time-title.title THỜI GIAN LÀM VIỆC
				.footer-main-time-list
					.footer-main-time-list-item Thứ 2: 9:00 - 16:00
					.footer-main-time-list-item Thứ 3 đến CN: 9:00 - 19:00
			.footer-main-hotline
				.footer-main-hotline-title.title HOTLINE
				.footer-main-hotline-number *3232
		.footer-bottom
			.footer-bottom-note *Lưu ý: Kết quả tùy thuộc vào cơ địa của mỗi người
			.footer-bottom-text - Công ty TNHH Thẩm Mỹ Ngọc Dung - Số ĐKKD 0307935853 do Sở KHĐT Tp. HCM cấp ngày 20/07/2009
			.footer-bottom-chinhsach Chính sách bảo mật: https://uudai.thammyvienngocdung.com/privacy-policy
			.footer-bottom-copyright Copyright © 2015 NGOC DUNG BEAUTY | Powered by NGOC DUNG BEAUTY