section.main
  .container
    .main-border 
      .main-form(id="main")
        .main-form-top
          .main-form-top-text|còn 
            span 8
            |  suất cuối
          .main-form-top-animation 83.000Đ
        .main-form-main
          .main-form-main-list
            input(type="text",placeholder="Họ và tên").main-form-main-list-item
            input(type="text",placeholder="Số điện thoại").main-form-main-list-item
            select.main-form-main-list-item
              option(value="") Chọn chi nhánh gần nhất
              option(value="Hà Nội1 : 106 Phố Huế, Phường Ngô Thì Nhậm, Quận Hai Bà Trưng") Hà Nội1 : 106 Phố Huế, Phường Ngô Thì Nhậm, Quận Hai Bà Trưng
              option(value="Hà Nội2 : 65 Trần Duy Hưng Phường Trung Hòa Quận Cầu Giấy") Hà Nội2 : 65 Trần Duy Hưng Phường Trung Hòa Quận Cầu Giấy
              option(value="Hà Nội3 : 8 Khúc Thừa Dụ Phường Dịch Vọng Quận Cầu Giấy") Hà Nội3 : 8 Khúc Thừa Dụ Phường Dịch Vọng Quận Cầu Giấy
              option(value="Hải Phòng : Số 2 Lô 7B Đường Lê Hồng Phong") Hải Phòng : Số 2 Lô 7B Đường Lê Hồng Phong
              option(value="Quảng Ninh : Lô A1 15-16 Khu Monbay Trần Quốc Nghiễn") Quảng Ninh : Lô A1 15-16 Khu Monbay Trần Quốc Nghiễn
              option(value="HCM1 : 36 Đường 3/2 Phường 12 Quận 10") HCM1 : 36 Đường 3/2 Phường 12 Quận 10
              option(value="HCM4 : 392A Nguyễn Thị Thập Phường Tân Quy Quận 7") HCM4 : 392A Nguyễn Thị Thập Phường Tân Quy Quận 7
              option(value="HCM6 : 185-187 Nguyễn Thái Học Phường Phạm Ngũ Lão Quận 1") HCM6 : 185-187 Nguyễn Thái Học Phường Phạm Ngũ Lão Quận 1
              option(value="HCM7 : 33 Nguyễn Bỉnh Khiêm Đa Kao Quận 1") HCM7 : 33 Nguyễn Bỉnh Khiêm Đa Kao Quận 1
              option(value="Bình Dương : 464 Đại Lộ Bình Dương Thành phố Thủ Dầu Một") Bình Dương : 464 Đại Lộ Bình Dương Thành phố Thủ Dầu Một
              option(value="Biên Hòa : 220 Đường 30/4 Phường Thanh Bình Thành phố Biên Hòa") Biên Hòa : 220 Đường 30/4 Phường Thanh Bình Thành phố Biên Hòa
              option(value="Vũng Tàu : 157 Nam Kỳ Khỏi Nghĩa Phường 3 Thành phố Vũng Tàu") Vũng Tàu : 157 Nam Kỳ Khỏi Nghĩa Phường 3 Thành phố Vũng Tàu
              option(value="Cần Thơ : 234B Trần Hưng Đạo Phường An Nghiệp Quận Ninh Kiều") Cần Thơ : 234B Trần Hưng Đạo Phường An Nghiệp Quận Ninh Kiều
              option(value="Vinh : Số 2 Trần Phú Phường Hồng Sơn Thành phố Vinh") Vinh : Số 2 Trần Phú Phường Hồng Sơn Thành phố Vinh
              option(value="Đà Nẵng : 95 Nguyễn Văn Linh Phường Nam Dương Quận Hải Châu") Đà Nẵng : 95 Nguyễn Văn Linh Phường Nam Dương Quận Hải Châu
              option(value="Nha Trang : 78 Lý Thánh Tôn Phường Lộc Thọ Tp. Nha Trang") Nha Trang : 78 Lý Thánh Tôn Phường Lộc Thọ Tp. Nha Trang
              option(value="Buôn Ma Thuột : 2-4 Ngô Quyền Phường Thắng Lợi Thành phố Buôn Ma Thuột") Buôn Ma Thuột : 2-4 Ngô Quyền Phường Thắng Lợi Thành phố Buôn Ma Thuột
              option(value="Phan Thiết : 154 Trần Hưng Đạo Phường Phú Thủy Thành phố Phan Thiết") Phan Thiết : 154 Trần Hưng Đạo Phường Phú Thủy Thành phố Phan Thiết
            input(type="number",placeholder="Tuổi (không bắt buộc)").main-form-main-list-item
            input(type="submit",value="Đăng ký ngay").main-form-main-list-submit
        .main-form-bottom
          .main-form-bottom-title ƯU ĐÃI SẼ KẾT THÚC SAU 
          .main-form-bottom-list(id="list")
            .main-form-bottom-list-item 00
            .main-form-bottom-list-item(id="hours")
            .main-form-bottom-list-item(id="minutes")
            .main-form-bottom-list-item(id="seconds")